<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>Controle Financeiro</title>
		<link rel="icon" href="../../public/assets/total.svg">
		<link rel="stylesheet" href="../../public/style.css">
		<link rel ="preconnect" href ="https://fonts.gstatic.com">
		<link href ="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,400;1,700&display=swap" rel ="stylesheet">
	</head>

	<body>
		<header>
			
			<h1 id="newLogo">Controle teste Financeiro</h1>
			<a href="./login.html" class="desconect" onclick="encerrarSessao()">Sair</a>
		</header>

		<main class="container">

			<section id="balance">
				<h2 class="sr-only">Balanço</h2>

					<div class="card">
						<a href="" class="meses" >Janeiro</a>
					</div>

					<div class="card">
						<a href="" class="meses" >Fevereiro</a>
					</div>

					<div class="card">
						<a href="" class="meses" >Março</a>
					</div>

                    			<div class="card">
						<a href="" class="meses" >Abril</a>
					</div>

                    			<div class="card">
						<a href="" class="meses" >Maio</a>
					</div>

                    			<div class="card">
						<a href="" class="meses" >Junho</a>
					</div>

                    			<div class="card">
						<a href="" class="meses" >Julho</a>
					</div>

                    			<div class="card">
						<a href="" class="meses" >Agosto</a>
					</div>

                    			<div class="card">
						<a href="" class="meses" >Setembro</a>
					</div>

                    			<div class="card">
						<a href="" class="meses" >Outubro</a>
					</div>

                    			<div class="card">
						<a href="" class="meses" >Novembro</a>
					</div>

                    			<div class="card">
						<a href="" class="meses" >Dezembro</a>						
					</div>
			</section>
		</main>
		
		<footer><p>control.Finance$</p></footer>

		
		<script>

let altura = 30
let base = 10
let areTinta = 2


let area = (base * altura) /2

console.log(area)
		</script>
		
	</body>
</html>