<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>Controle Financeiro</title>
		<link rel="icon" href="./assets/total.svg">
		<link rel="stylesheet" href="./style.css">
		<link rel ="preconnect" href ="https://fonts.gstatic.com">
		<link href ="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,400;1,700&display=swap" rel ="stylesheet">
	</head>

	<body>
		<header>
			
			<h1 id="newLogo">In Control</h1>
			<a href="" class="desconect" onclick="encerrarSessao()">Sair</a>

            <h3 id="616204"><a href="https://lenovo-in.zlvv.net/c/5578091/616204/9634">Lenovo PC and Tablets</a></h3>
<img height="0" width="0" src="https://imp.pxf.io/i/5578091/616204/9634" style="position:absolute;visibility:hidden;" border="0" />
		</header>

		<main class="container">

			<section id="balance">
				<h2 class="sr-only">Balanço</h2>

					<div class="card">
						<a href="" class="meses" >Janeiro</a>
					</div>

					<div class="card">
						<a href="" class="meses" >Fevereiro</a>
					</div>

					<div class="card">
						<a href="" class="meses" >Março</a>
					</div>

                    			<div class="card">
						<a href="" class="meses" >Abril</a>
					</div>

                    			<div class="card">
						<a href="" class="meses" >Maio</a>
					</div>

                    			<div class="card">
						<a href="" class="meses" >Junho</a>
					</div>

                    			<div class="card">
						<a href="" class="meses" >Julho</a>
					</div>

                    			<div class="card">
						<a href="" class="meses" >Agosto</a>
					</div>

                    			<div class="card">
						<a href="" class="meses" >Setembro</a>
					</div>

                    			<div class="card">
						<a href="" class="meses" >Outubro</a>
					</div>

                    			<div class="card">
						<a href="" class="meses" >Novembro</a>
					</div>

                    			<div class="card">
						<a href="" class="meses" >Dezembro</a>						
					</div>
			</section>
		</main>
		
		<footer><p>Copyright (c) 2024 Allan Carlos</p></footer>

		
		<script></script>
		
	</body>
</html>